*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, sans-serif;
  background:#050b16;
  color:white;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 50px;
  background:black;
  border-bottom:1px solid #0d6efd;
}

.nav-logo{
  height:70px;
}

nav{
  display:flex;
  gap:40px;
}

nav a{
  color:white;
  text-decoration:none;
  font-size:18px;
}

.call-btn{
  background:#0d6efd;
  color:white;
  padding:12px 22px;
  border-radius:8px;
  text-decoration:none;
  font-weight:bold;
}

.hero{
  position:relative;
  padding:80px 20px;
  text-align:center;
}

.hero-banner{
  width:100%;
  max-width:1000px;
  border-radius:20px;
  box-shadow:0 0 40px rgba(0,119,255,.35);
}

.hero-content h1{
  margin-top:40px;
  font-size:48px;
  color:white;
}

.hero-content p{
  margin-top:20px;
  font-size:20px;
  max-width:800px;
  margin-left:auto;
  margin-right:auto;
  color:#d4d4d4;
}

.hero-btn{
  display:inline-block;
  margin-top:35px;
  background:#0d6efd;
  color:white;
  padding:18px 34px;
  border-radius:10px;
  text-decoration:none;
  font-size:18px;
  font-weight:bold;
}

.services{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
  padding:80px 50px;
}

.service-card{
  background:#091425;
  border:1px solid #0d6efd;
  padding:40px;
  border-radius:16px;
  text-align:center;
  transition:.3s;
}

.service-card:hover{
  transform:translateY(-5px);
  box-shadow:0 0 20px rgba(0,119,255,.4);
}

.about,
.contact{
  padding:80px 50px;
  text-align:center;
}

.about h2,
.contact h2{
  margin-bottom:25px;
  color:#0d6efd;
}

.about p,
.contact p{
  margin-top:15px;
  font-size:18px;
  color:#d4d4d4;
}
